$menu_color: #333533;
$menu_color-hover: #bfcbc5;
$section_title: #f5cb5c;
$section_title_back: rgba(255, 255, 255, 0.8);
$background-gradient: linear-gradient(
  to bottom,
  rgb(246, 247, 247),
  rgba(205, 219, 213, 0.6)
);
$pills-color: #242423;
$pills-background: rgba(205, 219, 213, 0.6);
$home-color: white;
$footer_back: rgba(0, 0, 0, 0.7);
