.home {
  color: $home-color !important;
}

.home__section {
  height: 600px;
  /*background-image: $placeholder;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;*/
  opacity: 1;
  &--text {
    margin: auto 0 0 auto;
    width: 40%;
    text-align: right;
    padding: 5px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-60%);
  -moz-transform: translateX(-50%) translateY(-60%);
  -webkit-transform: translateX(-50%) translateY(-60%);
  transform: translateX(-50%) translateY(-60%);
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  z-index: 1;
}

nav {
  z-index: 2;
}

section {
  z-index: 2;
}

footer {
  z-index: 2;
}
