$background-1: url("../img/cool-background.png");
$background-2: url("../img/cool-background-5.png");
$background-3: url("../img/cool-background-4.png");

$icon-facebook: url("../img/fb.png");
$icon-github: url("../img/github.png");
$icon-twitter: url("../img/tw.png");
$icon-linkedin: url("../img/linkedin.png");
$icon-instagram: url("../img/instagram.png");
$icon-youtube: url("../img/yt.png");

$pic-solution-1: url("../img/sol_wf.jpg");
$pic-solution-2: url("../img/sol_task.png");

$pic-case-1: url("../img/logo-wayne.jpg");
$pic-case-2: url("../img/logo-weyland.jpg");
$pic-case-3: url("../img/logo-stark.jpg");

$placeholder: url("../img/no-image.png");
