@media only screen and (min-width: 992px) {
  body {
    background-image: $background-2;
  }

  /* INDEX */
  .home__section {
    height: 730px;
  }

  .home__section--text {
    font-size: x-large;
  }

  /* SOLUTIONS */
  .solution__section {
    /*
    display: flex;
    flex-flow: row nowrap; */
    height: 400px;
    &--desc {
      width: 65%;
    }
    &--pic {
      transition: 0.7s;
      transform: scale(1, 1);
      width: 30%;
      display: block;
      background-size: cover;
      &:hover {
        transition: 0.7s;
        transform: scale(1.05, 1.05);
      }
    }
  }

  /* INDUSTRIES */

  .industries__nav {
    flex-direction: column !important;
    justify-content: flex-start;
  }

  /* SUCCESS CASES */
  .cases__section {
    height: 230px;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
    &--box {
      transition: 0.7s;
      transform: scale(1, 1);
      width: 30%;
      height: 200px;
      &:hover {
        transition: 0.7s;
        transform: scale(1.05, 1.05);
      }
    }
  }

  /* COMPANY */

  .companies__nav {
    flex-direction: column !important;
    justify-content: flex-start;
  }
}
